body {
    background: linear-gradient(to right, #6e360ed9, #59090ed8);
}

.titleBar {
    background: linear-gradient(to right, #4a49489c, #977b82ab);
    height: 70px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
}

.title {
    font-family: fantasy;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.clear {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.644);
    margin-top: 1%;
    margin-left: 95%;
}

.page {
    height: 700px;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.notesContainer {
    flex: 1;
    height: 100%;
    background-color: rgba(226, 226, 226);
    border: 2px solid black;
    border-radius: 10px;
}


.notebox {
    background-color: rgba(226, 226, 226, 0.549);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.addNote {
    /* background-color: white; */
    height: 250px;
    margin-top: 15px;
    /* border: 2px solid black; */
}

.titleInput {
    height: 30px;
    width: 30%;
}

.textInput {
    margin-top: 5px;
    height: 200px;
    width: 90%;
}

p {
    font-family: sans-serif;
}

#delete {
    background-color: rgba(139, 27, 27, 0.571);
}