body {
    background-color: #fff9db;
}

.titleBar {
    background-color: #ffd8a8;
    height: 70px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
}

.username {
    font-family: fantasy;
    font-size: 50px;
}

.page {
    height: 700px;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.notesContainer,
.to-doContainer {
    flex: 1;
    height: 100%;
}

.notesContainer {
    background-color: rgb(255, 255, 255); /* Change color back to rgb(255, 255, 255) */
    border: 2px solid black;
}

.to-doContainer {
    background-color: rgb(255, 255, 255); /* Change color back to rgb(255, 255, 255) */
}

.notebox {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.addNote {
    /* background-color: white; */
    height: 250px;
    margin-top: 15px;
    /* border: 2px solid black; */
}

.titleInput {
    height: 30px;
    width: 30%;
}

.textInput {
    margin-top: 5px;
    height: 200px;
    width: 90%;
}
