body {
    background: linear-gradient(to right, #39393bd9, #05072bd8);
}

.titleBar {
    background: linear-gradient(to right, #404a519c, #7b9297ab);
    height: 70px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 1%;
}

.page_title {
    font-family: "Black Ops One";
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    margin-left: 35%;
}

.clear {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.644);
    margin-top: 1%;
    margin-left: 95%;
}

.page {
    height: 700px;
    margin-top: -1%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.notesContainer {
    flex: 1;
    height: 100%;
    background-color: rgba(226, 226, 226);
    border: 2px solid black;
    border-radius: 10px;
}


.notebox {
    background-color: rgba(226, 226, 226, 0.549);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 100px
}

.addNote {
    /* background-color: white; */
    height: 250px;
    margin-top: 15px;
    /* border: 2px solid black; */
}

.titleInput {
    height: 30px;
    width: 30%;
}

.textInput {
    margin-top: 5px;
    height: 200px;
    width: 90%;
}

p {
    font-family: sans-serif;
}

#delete {
    background-color: rgba(139, 27, 27, 0.571);
}

.bar {
    display: flex;
    margin-top: -1%;
}

.noteText {
    margin-left: 40%;
    color: rgb(175, 177, 179);
}

.noteTitle {
    margin-left: 2%;
    color: rgb(175, 177, 179);
}